nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1b2430;
    padding: 20px 80px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li {
    list-style: none;
    padding: 0 20px;
    position: relative;
    font-size: 1.3rem;
    font-weight: 600;
    color: #ffff;
    transition: 0.3s ease-in-out;
}

#navbar li a{
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 600;
    color: #ffff;
    transition: 0.3s ease-in-out;
    position: relative;
}

#navbar li:hover,
#navbar li:hover a {
    color: red;
    cursor: pointer;
}

#navbar li:hover a {
    color: #17cf97;
}

#navbar .auth-btn:hover::after {
    content: "";
    width: 30%;
    height: 2px;
    background: red;
    position: absolute;
    bottom: -4px;
    left: 20px;
    transition: 0.3s ease-in-out;
}

#navbar li a::after {
    content: "";
    width: 0;
    height: 2px;
    background: #17cf97;
    position: absolute;
    bottom: -4px;
    left: 5px;
    transition: 0.3s ease-in-out;
}

#navbar li:hover a::after {
    width: 40%;
}

#navbar .dropdown-content a::after,
#navbar .news-dropdown-content a::after {
    display: none;
}

#mobile {
    display: none;
}

#mobile i {
    color: #ffff;
    align-items: center;
}

@media screen and (max-width:769px) {
    #navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 60px;
        right: -310px;
        width: 300px;
        height: 100vh;
        background: #2a3239;
        box-shadow: 0 40px 60px rgba(0,0,0,0.1);
        padding: 40px 0 0 10px;
        transition: 0.3s ease-in-out;
    }

    #navbar.active {
        right: 0px;
    }
    
    #navbar li {
        margin-bottom: 25px;
    }

    #mobile{
        display: block;
    }
    #mobile i{
        font-size: 24px;
        cursor: pointer;
    }

}

.dropdown {
    position: relative;
    float: right;
}

.dropdown-content,
.news-dropdown-content{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover {
    cursor: default;
}

.news-dropdown:hover .news-dropdown-content {
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
    cursor: pointer;
}

